form{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 150px;
    border: 1px aqua solid;
    padding: 10px;
    box-shadow: 10px 5px 5px silver;
}

.wrapper{
    row-gap: 10px;
    width: 400px;
    height: 320px;
    border: 1px solid aqua;
    border-radius: 10px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    display: flex;
    justify-content: center;

}
.next_button{
    margin-bottom: 10px;
    margin-right: 10px;
    align-self: flex-end;
}
